* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-wrapper {
	height: 100%;
	max-width: 100%;
}

#home-selection{
	display: flex;
	height: 100vh;
	align-items: center;
	margin-top: -50px;
}

#navbar {
	background-color: black!important;
}

#toggle {
	background-color: white;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.click {
	background-color: #F0931F!important;
	border-color: #F0931F!important;
}

#login-page {
	display: flex;
	align-items: center;
	height: 100vh;
}

.transaction-wrapper {
	min-height: 100vh;
}

.addCategory-wrapper {
	min-height: 100vh;
}

.welcome-con {
	height: 100vh;
	display: flex;
}

.welcome {	
	align-self: center;
}

.register-text {
	color: black;

}

.register-text:hover {
	color: black!important;
}


@media(max-width: 1920px){
		.register-text:after {
	  color: black;   
	  background: none repeat scroll 0 0 transparent;
	  bottom: 250px;
	  content: "";
	  display: block;
	  height: 2px;
	  left: 540px;
	  position: absolute;
	  background: black;
	  transition: width 0.3s ease 0s, left 0.3s ease 0s;
	  width: 0;
	}
		.register-text:hover:after { 
	  width: 35%; 
	  left: 540px; 
	  bottom: 250px;
	}
}

@media(max-width: 1440px){
		.register-text:after {
	  color: black;   
	  background: none repeat scroll 0 0 transparent;
	  bottom: 300px;
	  content: "";
	  display: block;
	  height: 2px;
	  left: 530px;
	  position: absolute;
	  background: black;
	  transition: width 0.3s ease 0s, left 0.3s ease 0s;
	  width: 0;
	}
		.register-text:hover:after { 
	  width: 35%; 
	  left: 530px; 
	  bottom: 300px;
	}
}

@media(max-width: 1024px){
		.register-text:after {
	  color: black;   
	  background: none repeat scroll 0 0 transparent;
	  bottom: 200px;
	  content: "";
	  display: block;
	  height: 2px;
	  left: 545px;
	  position: absolute;
	  background: black;
	  transition: width 0.3s ease 0s, left 0.3s ease 0s;
	  width: 0;
	}
		.register-text:hover:after { 
	  width: 35%; 
	  left: 545px; 
	  bottom: 200px;
	}
}

@media(max-width: 768px){
		.register-text:after {
	  color: black;   
	  background: none repeat scroll 0 0 transparent;
	  bottom: 115px;
	  content: "";
	  display: block;
	  height: 2px;
	  left: 320px;
	  position: absolute;
	  background: black;
	  transition: width 0.3s ease 0s, left 0.3s ease 0s;
	  width: 0;
	}
		.register-text:hover:after { 
	  width: 35%; 
	  left: 320px; 
	  bottom: 115px;
	}
}

@media(max-width: 320px){
		.register-text:after {
	  color: black;   
	  background: none repeat scroll 0 0 transparent;
	  bottom: 250px;
	  content: "";
	  display: block;
	  height: 2px;
	  left: 540px;
	  position: absolute;
	  background: black;
	  transition: width 0.3s ease 0s, left 0.3s ease 0s;
	  width: 0;
	}
		.register-text:hover:after { 
	  width: 35%; 
	  left: 50px; 
	  bottom: 50px;
	}
}

.nt-wrapper {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.reg-nt {
	color: black!important;
	text-decoration: underline;
	align-items: center;
}

.reg-nt:hover {
	color: black!important;
}

.profile-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	position: absolute;
	background-image: url("./card.png");
	background-size: contain;
	height: 100vh;
	background-repeat: no-repeat;
	margin: auto;
	background-position: center;
	margin-top: -55px;
}

.profile-content {
	margin-top: 250px;
	margin-left: -150px;
	position: relative;
	/* left: 350px;
	bottom: 150px; */
	align-items: center;
	justify-content: center;
}

@media(max-width:768px){
	.profile-content {
		font-size: 12px;
		margin-top: 200px;
		margin-left: -100px;
		position: relative;
		align-items: center;
		justify-content: center;
	}
}

@media(max-width:320px){
	.profile-content {
		font-size: 7px!important;
		margin-top: 85px;
		margin-left: -5px;
		position: relative;
		/* left: 350px;
		bottom: 150px; */
		align-items: center;
		justify-content: center;
	}
}

.icons {
	bottom: 0;
	margin-bottom: -30px;
}

#icons-wrapper {
	display: flex;
	justify-content: center;
	align-items: end;
}

.cc-link {
	background-color: black!important;
}

.cc-link-link {
	background-color: #F0931F!important;
}

.register-about {
	color: white!important;
	text-decoration: underline;
}

.register-about:hover {
	color: white!important;
}

#about-wrapper {
	min-height: 100vh;
	max-width: 100%;
	display: flex;
	align-items: center;
}

.about-text {
	background-color: #F0931F;
	position: relative;
	border-radius: 10px;
	box-shadow: 5px 8px black;
}

.about-content {
	align-items: center;
	position: relative;
	top: 20px;
}

.footer {
	background-color: black!important;
	color: white;
	max-width: 100vw;
}